body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #F5F5F5;
}

textarea:focus, input:focus{
  outline: none;
}

*:focus {
  outline: none;
}

/*
* ----------------------------------------------------------------------------
* ANNOUNCEMENT BAR
* ----------------------------------------------------------------------------
*/
.AnnouncementBar {
  position: relative;
  text-align: center;
  font-size: 10px;
  z-index: 1;
  background-color: black;
}

.AnnouncementBar a, :visited, ul, a {
  list-style: none;
  text-decoration: none;
  color: white; 
}

.AnnouncementBar__Wrapper {
  padding: 12px 15px;
}

.AnnouncementBar__Content {
  color: inherit;
  margin: 0;
}

.cart {
  font-size: 11px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #fff;
  }

@media screen and (min-width: 641px) {
  .AnnouncementBar {
      font-size: 11px;
  }
}

/*
* ----------------------------------------------------------------------------
* NAV
* ----------------------------------------------------------------------------
*/
nav {
  margin: 0;
  max-width: 100%;
  height: 175px;
  flex-direction: column;
  background-size: cover;
  background: rgba(0, 0, 0, 0.3);
border: 1px solid rgba(0, 0, 0, 0.1);
text-align-last: justify;
padding: 0 50px 0 50px;
z-index: 2;
}

.hidden {
  display: none;
}

#navbar {
    z-index: 5;
  position: fixed;
  min-width: 100%;
  top: 0;
  transition: ease-in-out 0.5s;
}

.blurred {
  backdrop-filter: blur(5px);
  transition: ease-in-out 0.1s;
}

nav:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: ease-in 0.2s;
}


input {
font-family: "Raleway", sans-serif;
width: 250px;
height: 30px;
background: transparent;
font-size: 11px;
letter-spacing: 0.1em;
text-align: left;
border: solid white 1px;
}

::-webkit-input-placeholder { /* Edge */
  color: rgb(137, 137, 137);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(137, 137, 137);
}

::placeholder {
  color:rgb(213, 213, 213);
}

.logo {
  width: 300px;
  padding-top: 20px;
  position: relative;
  left: -6%;
}

li {
  padding-top: 10px;
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 16px;
  letter-spacing: 0.1em;
}

ul a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

ul a:after {    
background: none repeat scroll 0 0 transparent;
bottom: 0;
content: "";
display: block;
height: 2px;
left: 50%;
position: absolute;
background: #fff;
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;
}
ul a:hover:after { 
width: 100%; 
left: 0; 
}

main {
  margin-top: 250px;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 3.2vw;
  color: #000000;
  text-align: center;
  margin-bottom: 5vw;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1.8vw;
  font-weight: 500;
  margin-bottom: 0.25vw;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 1.4vw;
  max-width: 45vw;
  -webkit-text-stroke: #707070;
  letter-spacing: 2px;
}

.instead {
  display: grid;
  grid-template-areas: "side main";
  grid-template-columns: 28vw auto;
  column-gap: 6vw;
}

.filter {
  grid-area: side;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

#arr1,
#arr2,
#arr3,
#arr4 {
  cursor: pointer;
}

#arr1 {
  margin-left: 3.1vw;
}

#arr2 {
  margin-left: 5.2vw;
}

#arr3 {
  margin-left: 1.2vw;
}

#arr4 {
  margin-left: 6.3vw;
}

.rotate {
  transform: rotate(270deg);
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 1.3vw;
  cursor: pointer;
}

#categories {
  display: flex;
  flex-direction: column;
}

.disappear {
  display: none;
}

#seasons {
  display: flex;
  flex-direction: column;
}

#collections {
  display: flex;
  flex-direction: column;
}

.list {
  grid-area: main;
  display: grid;
  grid-template-columns: max-content max-content;
  margin-top: 0.5vw;
  column-gap: 6vw;
  row-gap: 7vw;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.capi {
  text-transform: uppercase;
}

.underline {
  text-decoration-line: line-through;
  opacity: 50%;
}

#sort {
  text-align: end;
  padding-right: 5vw;
}

#sort span img:hover {
  cursor: pointer;
}

.drop_sort {
  display: flex;
  flex-direction: column;
  row-gap: 0.35vw;
  position: absolute;
  right: 4.4vw;
  font-family: "Raleway", sans-serif;
  font-size: 1.3vw;
  border-style: solid;
  border-color: #aed5b2;
  border-width: 0.25vw;
}

.sorting {
  cursor: pointer;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  box-shadow: none;
}
.sorting:hover {
  background-color: #aed5b2;
  border-color: #aed5b2;
  margin: max-content max-content max-content max-content;
}

.no_border {
  border-style: none;
  border-color: none;
}

article img {
  width: 20vw;
  height: 20vw;
}

.name {
  font-size: 1.5vw;
  margin-bottom: -0.5vw;
}

.colors {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  column-gap: 1vw;
  row-gap: 1vw;
  margin-top: 1vw;
}

.square {
  height: 2vw;
  width: 2vw;
  border-style: ridge;
  border-color: black;
  border-width: 0.15vw;
  border-radius: 20%;
  cursor: pointer;
}

.block {
  display: block;
}

.yellow {
  background-color: #f1e19d;
}

.orange {
  background-color: #f1b776;
}

.pink {
  background-color: #f2a5cd;
}

.turquoise {
  background-color: #a5e4d3;
}

.green {
  background-color: #abca71;
}

.light_blue {
  background-color: #8ed3ea;
}

.dark_blue {
  background-color: #3966a5;
}

.grey {
  background-color: #989b9e;
}

.silver {
  background-color: #dbdbd9;
}

.black {
  background-color: black;
}

.allColors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 2vw;
}

button {
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  background-color: #000000;
  border-color: #000000;
  color: white;
  border-width: 1.5px;
  width: 250px;
  height: 50px;
  letter-spacing: 2.5px;
  margin-top: 1vw;
  box-shadow: 0;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: #000000;
  border-color: #000000;
  border-width: 1.5px;
  box-shadow: 0;
}


/*
 * ----------------------------------------------------------------------------
 * FOOTER
 * ----------------------------------------------------------------------------
 */

 footer {
  font-size: 0.7rem;
  max-width: 100vw;
  overflow: hidden;
  margin: 35px 0 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
  
 .footer-line {
  display: flex;
  justify-content: center;
  background-color: #aed5b2;
  width: 90vw;
  height: 3px;
  border-radius: 10px;
 }
  
 .category-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
 }
  
 .footer-category {
  display: flex;
  flex-direction: column;
 }
  
 .footer-title {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 35px;
  margin-bottom: 8px;
 }
  
 .footer-link {
  text-decoration: none;
  color: black;
  margin-top: 5px;
 }
  
 .footer-link:hover {
  color: rgb(122, 122, 122);
 }
  
 .footer-pic {
  display: flex;
  flex-direction: row;
  gap: 15px;
 }
  
 .footer-social {
  display: flex;
  width: 30px;
  height: auto;
 }
  
 .footer-pay {
  height: 20px;
  width: auto;
 }
  
 .address-footer {
  text-align: center;
 }